<div *ngIf = "!(authors$ | async)"><h1>Loading...</h1></div>
<mat-list>
      <mat-list-item *ngFor="let authorl of authors$ | async">
        <div *ngIf="authorl.id == id;else other"> <h3 mat-line>{{author}}</h3></div>
        <ng-template #other><h3 mat-line > {{ authorl.author }}  </h3></ng-template>
    <button>
                <a mat-list-item routerLink="/editauthor/{{authorl.id}}" routerLinkActive="active">edit</a>

      </button>
  </mat-list-item>

</mat-list>
<mat-card>
     <h4>New Author</h4>
     <form #tempForm="ngForm" (ngSubmit)="add()">
       <div class="example-container">
         <mat-form-field>
           <input matInput placeholder="author name" [(ngModel)] = "newauthor"
                            name = "newauthor"
                            required #spy
                            #temp = "ngModel">
           <mat-error *ngIf="!(temp.valid || temp.pristine)">
             Author is required
           </mat-error>                        
         </mat-form-field>
     
         
         <div >
             <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Add Author</button>
         </div>
       </div>
     </form>
     </mat-card>
 

     
